html h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
}

html h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
}

html h4 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #444;
}

#root > div > div {
    margin: 0 !important;
    padding: 0 !important;
  }

p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
}

a {
    word-break: break-word; /* Break long words (like links) to fit within container */
    overflow-wrap: anywhere; /* Allow breaking anywhere to prevent overflow */
    white-space: normal; /* Ensure text wraps to the next line */
    text-overflow: ellipsis; /* Optional: For truncated links */
  }